<div>
  <% current_user.followed_users.each do |f_u| %>
    <% f_u.chirps.each do |chirp| %>
      <div class='chirps'>
        <%= f_u %>
        <%= chirp.content %>
        <%= chirp.created_at %>
      </div>
    <% end %>
  <% end %>
</div>