<div>
  <% current_user.followed_users.each do |f_u| %>
    <% f_u.chirps.each do |chirp| %>
      <div class='chirps'>
        <p class="username"><%= f_u.username %></p>
        <p class="content"><%= chirp.content %></p>
        <p class="time"><%= chirp.created_at %></p>
      </div>
    <% end %>
  <% end %>
</div>