<form action="/login" method="post">
    <p>Log in</p>
    <br>
    <div><label for="username"> Username:</label><div class="form-box"><input type="text" name="username" required></div></div><br>
    <div><label for="password"> Password:</label><div class="form-box"><input type="password" name="password" required></div></div><br>
    <input type="submit" value="Log in">
</form>