

<div>
  <%= puts "****#{@current_user}*****" %>
  <% current_user.chirps.each do |chirp| %>
  <div class='chirps'>
    <%= chirp.username %>
    <%= chirp.content %>
    <%= chirp.created_at %>
  </div>
    <% end %>
</div>