<form action="/users" method="post">
    <h3>Sign up!</h3>
    <br>
    <div><label for="first_name"> First Name:</label><div class="form-box"><input type="text" name="first_name" required></div></div><br>
    <div><label for="last_name" > Last Name:</label><div class="form-box"><input type="text" name="last_name" required></div></div><br>
    <div><label for="email"> Your Email:</label><div class="form-box"><input type="text" name="email" required></div></div><br>
    <div><label for="username"> Username:</label><div class="form-box"><input type="text" name="username" required></div></div><br>
    <div><label for="password"> Choose a Password:</label><div class="form-box"><input type="password" name="password" required></div></div><br>
    <input type="submit" value="Sign up!">
</form>