<div class="container">

  <hgroup>
    <h1>ChirpChat!</h1>
    <h2>Ew</h2>
  </hgroup>

  <div class='forms'>
    <div class='signup_form'>
      <%= erb :_signup_form %>
    </div>
    <div class='login_form'>
      <%= flash[:error] unless current_user %>
      <%= erb :_login_form %>
    </div>
  </div>

</div>