<div class="container">
  <%= erb :_header %>
  <h1>Welcome to ChirpChat!</h1>

  <% if session[:user_id] != nil %>
    <%= erb :_global_chirps %>
   <% else %>
    <%= erb :_signup_form %>
    <%= erb :_login_form %>
  <% end %>


</div>